DATASET LINK - https://www.kaggle.com/datasets/vikasjigupta786/customer-analytics-practice-dataset

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Load your dataset
df = pd.read_csv('/content/Mall_Customers_Enhanced.csv')

In [ ]:
  #Print Dataset
  df

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category
0,1,Male,19,15,39,18-25,11.10,456,3,Budget
1,2,Male,21,15,81,18-25,6.90,300,6,Luxury
2,3,Female,20,16,6,18-25,15.36,594,2,Budget
3,4,Female,23,16,77,18-25,7.79,300,6,Luxury
4,5,Female,31,17,40,26-35,12.47,480,5,Budget
...,...,...,...,...,...,...,...,...,...,...
195,196,Female,35,120,79,26-35,56.80,850,7,Luxury
196,197,Female,45,126,28,36-50,102.48,850,5,Electronics
197,198,Male,32,126,74,26-35,63.84,850,6,Luxury
198,199,Male,32,137,18,26-35,120.56,850,4,Fashion
199,200,Male,30,137,83,26-35,61.19,850,7,Luxury

In [ ]:
# calculate statistics
mean = df.mean(numeric_only=True)
median = df.median(numeric_only=True)
mode = df.mode(numeric_only=True).iloc[0]
std = df.std(numeric_only=True)

In [ ]:
print("Mean : ",mean)
print("Median : ",median)
print("Mode : ",mode)
print("Standard Deviation : ",std)

Mean :  CustomerID                100.50000
Age                        38.85000
Annual Income (k$)         60.56000
Spending Score (1-100)     50.20000
Estimated Savings (k$)     40.24795
Credit Score              743.68000
Loyalty Years               5.93000
dtype: float64
Median :  CustomerID                100.50
Age                        36.00
Annual Income (k$)         61.50
Spending Score (1-100)     50.00
Estimated Savings (k$)     36.41
Credit Score              833.00
Loyalty Years               6.00
dtype: float64
Mode :  CustomerID                  1.0
Age                        32.0
Annual Income (k$)         54.0
Spending Score (1-100)     42.0
Estimated Savings (k$)     28.8
Credit Score              850.0
Loyalty Years               6.0
Name: 0, dtype: float64
Standard Deviation :  CustomerID                 57.879185
Age                        13.969007
Annual Income (k$)         26.264721
Spending Score (1-100)     25.823522
Estimated Savings (k$)     21.333448
Credit Score              155.176727
Loyalty Years               1.570808
dtype: float64

In [ ]:
# Label encoding for 'Preferred Category'
if 'Preferred Category' in df.columns:
  le = LabelEncoder()
  df['Preferred Category_encoded'] = le.fit_transform(df['Preferred Category'])
  print(df[['Preferred Category', 'Preferred Category_encoded']].head(50))

   Preferred Category  Preferred Category_encoded
0              Budget                           0
1              Luxury                           3
2              Budget                           0
3              Luxury                           3
4              Budget                           0
5              Luxury                           3
6              Budget                           0
7              Luxury                           3
8              Budget                           0
9              Luxury                           3
10             Budget                           0
11             Luxury                           3
12             Budget                           0
13             Luxury                           3
14             Budget                           0
15             Luxury                           3
16             Budget                           0
17             Budget                           0
18             Budget                           0
19             Luxury                           3
20             Budget                           0
21             Luxury                           3
22             Budget                           0
23             Luxury                           3
24             Budget                           0
25             Luxury                           3
26             Budget                           0
27             Budget                           0
28             Budget                           0
29             Luxury                           3
30             Budget                           0
31             Luxury                           3
32             Budget                           0
33             Luxury                           3
34             Budget                           0
35             Luxury                           3
36             Budget                           0
37             Luxury                           3
38             Budget                           0
39             Luxury                           3
40             Budget                           0
41             Luxury                           3
42             Budget                           0
43             Budget                           0
44             Budget                           0
45             Budget                           0
46        Electronics                           1
47            Fashion                           2
48            Fashion                           2
49            Fashion                           2

In [ ]:
#One Hot Encoding for 'Preferred Category'
one_hot_encoded = pd.get_dummies(df['Preferred Category'], prefix='Preferred Category')
df = pd.concat([df, one_hot_encoded], axis=1)
df

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Age Group,Estimated Savings (k$),Credit Score,Loyalty Years,Preferred Category,Preferred Category_encoded,Preferred Category_Budget,Preferred Category_Electronics,Preferred Category_Fashion,Preferred Category_Luxury,Preferred Category_Budget,Preferred Category_Electronics,Preferred Category_Fashion,Preferred Category_Luxury
0,1,Male,19,15,39,18-25,11.10,456,3,Budget,0,True,False,False,False,True,False,False,False
1,2,Male,21,15,81,18-25,6.90,300,6,Luxury,3,False,False,False,True,False,False,False,True
2,3,Female,20,16,6,18-25,15.36,594,2,Budget,0,True,False,False,False,True,False,False,False
3,4,Female,23,16,77,18-25,7.79,300,6,Luxury,3,False,False,False,True,False,False,False,True
4,5,Female,31,17,40,26-35,12.47,480,5,Budget,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Female,35,120,79,26-35,56.80,850,7,Luxury,3,False,False,False,True,False,False,False,True
196,197,Female,45,126,28,36-50,102.48,850,5,Electronics,1,False,True,False,False,False,True,False,False
197,198,Male,32,126,74,26-35,63.84,850,6,Luxury,3,False,False,False,True,False,False,False,True
198,199,Male,32,137,18,26-35,120.56,850,4,Fashion,2,False,False,True,False,False,False,True,False
199,200,Male,30,137,83,26-35,61.19,850,7,Luxury,3,False,False,False,True,False,False,False,True

In [ ]:
#One Hot Encoding for 'Preferred Category'
pd.set_option('display.width', 1000) #Increase Width
pd.set_option('display.max_columns', None) #Show all columns
pd.set_option('display.max_rows', None) #Show all rows
if 'Preferred Category' in df.columns:
  category_ohe = pd.get_dummies(df['Preferred Category'], prefix='Preferred Category')
  print(category_ohe.head(10))

   Preferred Category_Budget  Preferred Category_Electronics  Preferred Category_Fashion  Preferred Category_Luxury
0                       True                           False                       False                      False
1                      False                           False                       False                       True
2                       True                           False                       False                      False
3                      False                           False                       False                       True
4                       True                           False                       False                      False
5                      False                           False                       False                       True
6                       True                           False                       False                      False
7                      False                           False                       False                       True
8                       True                           False                       False                      False
9                      False                           False                       False                       True

In [ ]:
statistics = df[['Annual Income (k$)','Spending Score (1-100)', 'Estimated Savings (k$)','Credit Score']].agg([ 'mean', 'median'])
mode_values = df[['Annual Income (k$)','Spending Score (1-100)', 'Estimated Savings (k$)','Credit Score']].mode().iloc[0] # mode may have multiple, take first
# Combine results
statistics.loc['mode'] = mode_values
# Show as single row (flatten)
result = statistics.transpose().reset_index()
result.columns = ['Column','Mean','Median','Mode']
print(result)

                   Column       Mean  Median   Mode
0      Annual Income (k$)   60.56000   61.50   54.0
1  Spending Score (1-100)   50.20000   50.00   42.0
2  Estimated Savings (k$)   40.24795   36.41   28.8
3            Credit Score  743.68000  833.00  850.0