In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/nigeria_messy_sales_dataset.csv")

In [ ]:
df

,Customer Name,State,Product,Units Sold,Unit Price,Total Sale,Sale Date,Sales Channel,Order ID
0,NaN,rivers,KEYBOARD,NaN,NaN,NaN,2025-04-27,Online,NaN
1,Allison Hill,Lagos,Headphones,NaN,267992.94,NaN,2024-03-15,Wholesale,4c636e95-025f-4543-8997-623ae0723d96
2,Noah Rhodes,Anambra,Keyboard,NaN,42364.41,NaN,2024-12-10,NaN,edaf3766-1b78-4ede-9a4f-fc0c9165f2ed
3,Angie Henderson,Delta,Keyboard,NaN,279444.94,NaN,2024-04-05,NaN,74503887-48d9-4846-95c5-51fcfba57cc8
4,Daniel Wagner,Delta,Tablet,NaN,95899.74,NaN,2025-01-12,NaN,8639bd41-8b15-4d94-a42d-0cd7fd359f6a
...,...,...,...,...,...,...,...,...,...
545,Zachary Mitchell,Ekiti,Monitor,6.0,23989.09,143934.54,2025-07-07,Wholesale,b9744cde-d259-4960-aee3-560792ea1324
546,NaN,Katsina,Tablet,NaN,223764.24,NaN,2025-02-11,Wholesale,NaN
547,Katherine Martinez,Bauchi,Phone,NaN,104084.92,NaN,2025-05-18,Retail,61fa8e7a-078c-46ce-bf02-23bc651ea252
548,Jodi Roach,Niger,Charger,NaN,29756.89,NaN,2025-06-29,Direct,5a9c0679-2c3d-47e2-ad39-da75aee70ab2
549,Brandon Fleming,imo,Camera,NaN,70027.13,NaN,2024-02-20,NaN,46653497-2fe9-42aa-a886-a01136f7a26c

In [ ]:
#Display first five rows
df.head()

,Customer Name,State,Product,Units Sold,Unit Price,Total Sale,Sale Date,Sales Channel,Order ID
0,NaN,rivers,KEYBOARD,NaN,NaN,NaN,2025-04-27,Online,NaN
1,Allison Hill,Lagos,Headphones,NaN,267992.94,NaN,2024-03-15,Wholesale,4c636e95-025f-4543-8997-623ae0723d96
2,Noah Rhodes,Anambra,Keyboard,NaN,42364.41,NaN,2024-12-10,NaN,edaf3766-1b78-4ede-9a4f-fc0c9165f2ed
3,Angie Henderson,Delta,Keyboard,NaN,279444.94,NaN,2024-04-05,NaN,74503887-48d9-4846-95c5-51fcfba57cc8
4,Daniel Wagner,Delta,Tablet,NaN,95899.74,NaN,2025-01-12,NaN,8639bd41-8b15-4d94-a42d-0cd7fd359f6a

In [ ]:
# View the last 5 rows
df.tail()

,Customer Name,State,Product,Units Sold,Unit Price,Total Sale,Sale Date,Sales Channel,Order ID
545,Zachary Mitchell,Ekiti,Monitor,6.0,23989.09,143934.54,2025-07-07,Wholesale,b9744cde-d259-4960-aee3-560792ea1324
546,NaN,Katsina,Tablet,NaN,223764.24,NaN,2025-02-11,Wholesale,NaN
547,Katherine Martinez,Bauchi,Phone,NaN,104084.92,NaN,2025-05-18,Retail,61fa8e7a-078c-46ce-bf02-23bc651ea252
548,Jodi Roach,Niger,Charger,NaN,29756.89,NaN,2025-06-29,Direct,5a9c0679-2c3d-47e2-ad39-da75aee70ab2
549,Brandon Fleming,imo,Camera,NaN,70027.13,NaN,2024-02-20,NaN,46653497-2fe9-42aa-a886-a01136f7a26c

In [ ]:
#Get a summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Name  507 non-null    object
 1   State          550 non-null    object
 2   Product        550 non-null    object
 3   Units Sold     155 non-null    float64
 4   Unit Price     495 non-null    float64
 5   Total Sale     137 non-null    float64
 6   Sale Date      550 non-null    object
 7   Sales Channel  444 non-null    object
 8   Order ID       510 non-null    object
dtypes: float64(3), object(6)
memory usage: 38.8+ KB

In [ ]:
#Get basic statistical details for numerical columns
df.describe()

       Units Sold     Unit Price    Total Sale
count  155.000000     495.000000  1.370000e+02
mean    46.858065  155703.699212  7.075166e+06
std     26.973156   84443.013217  6.338224e+06
min      1.000000    1403.130000  5.788704e+04
25%     24.500000   84873.975000  1.788402e+06
50%     47.000000  157889.240000  5.049848e+06
75%     67.500000  224577.170000  1.119981e+07
max    100.000000  299437.800000  2.873459e+07

In [ ]:
#List all columns names
df.columns

Index(['Customer Name', 'State', 'Product', 'Units Sold', 'Unit Price',
       'Total Sale', 'Sale Date', 'Sales Channel', 'Order ID'],
      dtype='object')

In [ ]:
#Get the shape of the DataFrame number of rows and columns
row,col = df.shape
print(f"Number of rows: {row}, Number of columns: {col}")

Number of rows: 550, Number of columns: 9

In [ ]:
#Check the Data types of each column
df.dtypes

Customer Name     object
State             object
Product           object
Units Sold       float64
Unit Price       float64
Total Sale       float64
Sale Date         object
Sales Channel     object
Order ID          object
dtype: object

In [ ]:
#Check the Data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Name  507 non-null    object
 1   State          550 non-null    object
 2   Product        550 non-null    object
 3   Units Sold     155 non-null    float64
 4   Unit Price     495 non-null    float64
 5   Total Sale     137 non-null    float64
 6   Sale Date      550 non-null    object
 7   Sales Channel  444 non-null    object
 8   Order ID       510 non-null    object
dtypes: float64(3), object(6)
memory usage: 38.8+ KB

In [ ]:
#Check for duplicate rows
df.duplicated().sum()

np.int64(0)

In [ ]:
#Check for duplicate value
df.duplicated().any()

np.False_

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Customer Name, State, Product, Units Sold, Unit Price, Total Sale, Sale Date, Sales Channel, Order ID]
Index: []

In [ ]:
#Check for missing values
df.isnull().sum()

Customer Name     43
State              0
Product            0
Units Sold       395
Unit Price        55
Total Sale       413
Sale Date          0
Sales Channel    106
Order ID          40
dtype: int64

In [ ]:
# Check unique entries in key columns
for col in ["State", "Product", "Sales Channel"]:
    print(f"{col}: {df[col].unique()}")

State: ['rivers' 'Lagos' 'Anambra' 'Delta' 'Oyo' 'Rivers' 'Imo' 'Kano' 'plateau'
 'Niger' 'Abuja' 'Enugu' 'Bauchi' 'Katsina' 'lagos' 'Ekiti' 'Plateau'
 'Kaduna' 'Sokoto' 'kano' 'Benue' 'Osun' 'imo' 'Borno' 'enugu' 'anambra'
 'katsina' 'delta' 'Cross River' 'oyo' 'osun' 'kaduna' 'niger' 'borno'
 'abuja' 'bauchi' 'cross river' 'ekiti' 'sokoto' 'benue']
Product: ['KEYBOARD' 'Headphones' 'Keyboard' 'Tablet' 'Camera' 'CAMERA' 'Laptop'
 'Charger' 'CHARGER' 'Monitor' 'LAPTOP' 'Phone' 'MONITOR' 'PHONE' 'TABLET'
 'HEADPHONES']
Sales Channel: ['Online' 'Wholesale' nan 'Direct' 'Retail']

In [ ]:
#Filling missing value of 'Units Sold' with 0
df['Units Sold'] = df['Units Sold'].fillna(0)

#Filling missing values of 'Unit Price' with Median
df['Unit Price'] = df['Unit Price'].fillna(df['Unit Price'].median())

#Filling missing value of 'Order ID' with 0
df['Order ID'] = df['Order ID'].fillna(0)

In [ ]:
df['Total Sale'] = df['Units Sold']*df['Unit Price']

In [ ]:
#Filling missing value of 'Sales Channel' with its mode
df['Sales Channel'] = df['Sales Channel'].fillna(df['Sales Channel'].mode()[0])

In [ ]:
#Check for missing values
df.isnull().sum()

Customer Name    43
State             0
Product           0
Units Sold        0
Unit Price        0
Total Sale        0
Sale Date         0
Sales Channel     0
Order ID          0
dtype: int64

In [ ]:
# Example: standardize state names
df["State"] = df["State"].str.strip().str.title()

# Example: normalize product categories
df["Product_Category"] = df["Product"].str.strip().str.title()

# Example: normalize sales channels
df["Sales_Channel"] = df["Sales Channel"].str.strip().str.title()

In [ ]:
df

,Customer Name,State,Product,Units Sold,Unit Price,Total Sale,Sale Date,Sales Channel,Order ID,Product_Category,Sales_Channel
0,NaN,Rivers,KEYBOARD,0.0,157889.24,0.00,2025-04-27,Online,0,Keyboard,Online
1,Allison Hill,Lagos,Headphones,0.0,267992.94,0.00,2024-03-15,Wholesale,4c636e95-025f-4543-8997-623ae0723d96,Headphones,Wholesale
2,Noah Rhodes,Anambra,Keyboard,0.0,42364.41,0.00,2024-12-10,Direct,edaf3766-1b78-4ede-9a4f-fc0c9165f2ed,Keyboard,Direct
3,Angie Henderson,Delta,Keyboard,0.0,279444.94,0.00,2024-04-05,Direct,74503887-48d9-4846-95c5-51fcfba57cc8,Keyboard,Direct
4,Daniel Wagner,Delta,Tablet,0.0,95899.74,0.00,2025-01-12,Direct,8639bd41-8b15-4d94-a42d-0cd7fd359f6a,Tablet,Direct
...,...,...,...,...,...,...,...,...,...,...,...
545,Zachary Mitchell,Ekiti,Monitor,6.0,23989.09,143934.54,2025-07-07,Wholesale,b9744cde-d259-4960-aee3-560792ea1324,Monitor,Wholesale
546,NaN,Katsina,Tablet,0.0,223764.24,0.00,2025-02-11,Wholesale,0,Tablet,Wholesale
547,Katherine Martinez,Bauchi,Phone,0.0,104084.92,0.00,2025-05-18,Retail,61fa8e7a-078c-46ce-bf02-23bc651ea252,Phone,Retail
548,Jodi Roach,Niger,Charger,0.0,29756.89,0.00,2025-06-29,Direct,5a9c0679-2c3d-47e2-ad39-da75aee70ab2,Charger,Direct
549,Brandon Fleming,Imo,Camera,0.0,70027.13,0.00,2024-02-20,Direct,46653497-2fe9-42aa-a886-a01136f7a26c,Camera,Direct

In [ ]:
# Convert to datetime
df["Sale Date"] = pd.to_datetime(df["Sale Date"], errors="coerce")

In [ ]:
# Fill missing dates if needed
df['Sale Date'] = df["Sale Date"].ffill()

In [ ]:
# Extract useful date parts
df["Year"] = df["Sale Date"].dt.year
df["Month"] = df["Sale Date"].dt.month_name()
df["Day"] = df["Sale Date"].dt.day

In [ ]:
df.head()

,Customer Name,State,Product,Units Sold,Unit Price,Total Sale,Sale Date,Sales Channel,Order ID,Product_Category,Sales_Channel,Year,Month,Day
0,NaN,Rivers,KEYBOARD,0.0,157889.24,0.0,2025-04-27,Online,0,Keyboard,Online,2025,April,27
1,Allison Hill,Lagos,Headphones,0.0,267992.94,0.0,2024-03-15,Wholesale,4c636e95-025f-4543-8997-623ae0723d96,Headphones,Wholesale,2024,March,15
2,Noah Rhodes,Anambra,Keyboard,0.0,42364.41,0.0,2024-12-10,Direct,edaf3766-1b78-4ede-9a4f-fc0c9165f2ed,Keyboard,Direct,2024,December,10
3,Angie Henderson,Delta,Keyboard,0.0,279444.94,0.0,2024-04-05,Direct,74503887-48d9-4846-95c5-51fcfba57cc8,Keyboard,Direct,2024,April,5
4,Daniel Wagner,Delta,Tablet,0.0,95899.74,0.0,2025-01-12,Direct,8639bd41-8b15-4d94-a42d-0cd7fd359f6a,Tablet,Direct,2025,January,12